.DS_Store
Desktop.ini

application/cache/sessions/*
application/cache/twig/*
application/logs/*

!.empty

/vendor/
/gcloud/

app.yaml*
cron.yaml*
dispatch.yaml*
index.yaml*
nginx-*.conf

# composer
#-------------------------
composer.lock

# IDE Files
#-------------------------
.project
.settings

